.content {
    background: url(../../../public/images/background_content.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.wrapper-content {
    width: 68%;
    margin: 50px auto;
}

.connect {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.connect-title {
    text-align: center;
}

.connect-title img {
    width: 1220px;
    margin-bottom: 20px;
}

.connect-point {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 10px;
    justify-content: center;
}

.connect-point_item {
    width: 381px;
    background-color: #fff;
    box-shadow: 0px 7px 0px #308c0f;
    border-radius: 50px;
    a {
        display: block;
        line-height: 55px;
        text-decoration: none;
        color: #31b026;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 50px;
        border-radius: 50px;
        text-align: center;
        border: 3px solid #36a638;
        span {
            background: linear-gradient(
                180deg,
                #e7e7e7 0%,
                rgba(255, 255, 255, 0) 100%
            );
            display: block;
            padding: 30px;
            border-radius: 50px;
            border: 4px solid #fff;
            text-shadow: 0px 4px 0px #65ff62;
        }
    }
    &:hover {
        background: linear-gradient(180deg, #00ff4a 0%, #23da58 100%);
        box-shadow: 0px 7px 0px #1c3c11;
        a {
            color: #075700;
            span {
                text-shadow: 0px 4px 0px #5affb0;
                border: 4px solid #2aff59;
            }
        }
    }
}

.contact {
    width: 1200px;
    height: 290px;
    margin: 40px auto;
}

.contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-bongbet {
    display: grid;
    text-align: center;
    margin: 40px auto 0;
    width: 1200px;
    background: linear-gradient(
            360deg,
            rgba(8, 189, 15, 0.2) 0%,
            rgba(0, 255, 10, 0) 100%
        ),
        #fff;
    padding: 50px;
    border-radius: 8px;
    border: 10px solid;
    border-image: linear-gradient(to bottom, #453d3e, #1e1a1c);
    border-image-slice: 1;
    gap: 40px;
    a {
        text-decoration: none;
        color: #fff;
        background-color: #36a638;
        text-transform: uppercase;
        display: block;
        width: 282px;
        padding: 24px 0;
        margin: 10px 0;
        font-size: 24px;
        border-radius: 50px;
        &:hover {
            opacity: 0.8;
        }
    }
    h1 {
        text-transform: uppercase;
        color: #36a638;
        font-size: 32px;
        font-weight: 800;
        margin: 16px 0;
    }
    p {
        color: #1c252c;
        font-size: 30px;
        font-weight: 500;
        span {
            color: #36a638;
            font-weight: 800;
            text-transform: uppercase;
        }
    }
}

.question-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
